.days-and-sessions > div{
}   

.days-and-sessions__date {
    font-size: 20px;
    font-weight: 400;
    color: #293845;
    margin-top: 23px;
    margin-bottom: 23px;
    display: inline-block;   
}